# 1.In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

" * " is a mathematical operator and is used for multiplication.

In [1]:
a = 10
b = 10
c = a * b
print(c)

100

'hello' is a string value.

In [3]:
a = 'hello'
print(type(a))

<class 'str'>

-87.8 is a float value.

In [4]:
a = -87.8
print(type(a))

<class 'float'>

'-' is a mathematical operator and it is used for subtraction.

In [5]:
num1 = 20
num2 = 30
num3 = num2 - num1
print(num3)

10

'/' is a mathematical operator and it is used for division.

In [6]:
a = 25
b = 5
c = a/b
print(c)

5.0

'+' is a mathematical operator and it is used for addition.

In [7]:
c = 255
d = 100
e = c + d
print(e)

355

'6' is a integer value.

In [8]:
a = 6
print(type(a))

<class 'int'>

# 2. What is the difference between string and variable?

String is a data type that is used to store text value. Strings are arrays.

In [14]:
#Example
a = 'hello, this is an example of string.'
print(f"Value: {a} \nData Type: {type(a)}")

Value: hello, this is an example of string.
Data Type: <class 'str'>

Variable is used to store value of different data types so that it can be used in program later. 
Data type of variable can be changed after it is created or assigned.

In [17]:
#Example
a = 10   
#'a' is a variable which is used to store value 10.

b = 'python' 
#'b' is a variable which is used to store value 'python'.

print(f"Value of a:{a} and its data type: {type(a)}")
print(f"Value of b:{b} and its data type: {type(b)}")

Value of a:10 and its data type: <class 'int'>
Value of b:python and its data type: <class 'str'>

# 3. Describe three different data types.

Data Types are:
* Text Type - str
* Numeric Types:	int, float, complex
* Boolean Type:	bool

In [20]:
#String is a data type that is used to store text value. Strings are arrays.
a = 'hello'
print(f"Value a:{a} and data type:{type(a)}")

Value a:hello and data type:<class 'str'>

In [25]:
# int - Integer is a whole number which can be positive or negative number without decimal.
# float - Float is a number which can be positive or negative number with decimal.
# complex - Complex numbers are written with 'j' as imaginary part.
a = 10
b = 10.2
c = 1 + 2j
print(f"Value a:{a} and data type:{type(a)}")
print(f"Value b:{b} and data type:{type(b)}")
print(f"Value c:{c} and data type:{type(c)}")

Value a:10 and data type:<class 'int'>
Value b:10.2 and data type:<class 'float'>
Value c:(1+2j) and data type:<class 'complex'>

In [29]:
# bool - Booleans have two values either True or False. It can be used to check conditions or know whether the expression is True or False. 
a = True
print(f"Value a:{a} and data type:{type(a)}")

Value a:True and data type:<class 'bool'>

# 4. What is an expression made up of? What do all expressions do?

Expression is an combination of operator and operand and is used to produce different value.
> Types of Expressions:
* Constant Expressions
* Arithmetic Expressions
* Integral Expressions
* Floating Expressions
* Relational Expressions
* Logical Expressions
* Bitwise Expressions
* Combinational Expressions

In [30]:
#Constant Expressions
a = 100 * 25
print(a)

2500

In [31]:
#Arithmetic Expressions
a = 10
b = 5
c = a + b
d = a - b
e = a * b
f = a / b
print(c)
print(d)
print(e)
print(f)

15
5
50
2.0

In [35]:
#Integral Expressions
#This kind of expressions produces only integer results after all computations and type conversions of values.
a = 10
b = 15.5
c = a + int(b)
print(c)

25

In [36]:
#Floating Expressions
# It produces floating point numbers as result.
a = 10
b = 3
c = a/b
print(c)

3.3333333333333335

In [2]:
#Relational Expressions
#In relational expressions, arithmetic expressions are written on both sides of relational operator (> , < , >= , <=). The arithmetic expressions are evaluated first, and then compared as per relational operator and produce a boolean output in the end.
a = 25
b = 15
c = 55
d = 35
p = (a + b) >= (c - d)
print(p)

True

In [7]:
#Logical Expressions
#Logical expressions results in either True or False. It basically specifies one or more conditions.(AND, OR, NOT)
a = 10
b = 20
c = (a > 10) and (b > 10)
print(c)

False

In [9]:
#Bitwise Expressions
#Bitwise operators are used to compare numbers.
a = 10

x = a >> 2
y = a << 1

print(x, y)

2 20

In [10]:
#Combinational Expressions
#In these kind of expressions we can use different types of expression in single expression. 
a = 20
b = 24

c = a + (b >> 2)
print(c)

26

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

* Expression: 
1. Expression returns a value.
2. Expression can print result.
3. Function can also be called as expression

In [13]:
#Expression Example
a = "Hello" + "World"
print(a)

HelloWorld

* Statement:
1. Statement cannot return value.
2. Statement cannot print result. 
3. Example: Assignment statements, condition, loops, classes, import, def, try, except, pass etc

# 6. After running the following code, what does the variable bacon contain?

In [15]:
bacon = 22
print(bacon)
bacon + 1
print(bacon)

22
22

# 7. What should the values of the following two terms be?

In [16]:
#'spam' + 'spamspam'
#'spam' * 3
a = 'spam' + 'spamspam'
b = 'spam' * 3
print("a:", a)
print("b:", b)

a: spamspamspam
b: spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

In [20]:
eggs = 1
print(eggs)

1

In [22]:
100 = "a"
print(100)

SyntaxError: cannot assign to literal (466030638.py, line 1)

Variable is used to store value. 
* Variable name must start with a letter or the underscore character.
* Variables cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
* It is case-sensitive (name, Name and NAME are 3 different variables).
* The reserved words(keywords) cannot be used for naming the variable.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [44]:
a = 10
b = 12.50
c = 'd'
print(f'a: {a} and Type:', type(a))
print(f'b: {b} and Type:', type(b))
print(f'c: {c} and Type:', type(c))
print("-----------STRING-----------")
a = str(10)
b = str(12.50)
c = str(d)
print(f'a: {a} and Type:', type(a))
print(f'b: {b} and Type:', type(b))
print(f'c: {c} and Type:', type(c))
print("-----------INT-----------")
a = int(10)
b = int(12.50)
c = int(d)
print(f'a: {a} and Type:', type(a))
print(f'b: {b} and Type:', type(b))
print(f'c: {c} and Type:', type(c))
print("-----------FLOAT-----------")
a = float(10)
b = float(12.50)
c = float(d)
print(f'a: {a} and Type:', type(a))
print(f'b: {b} and Type:', type(b))
print(f'c: {c} and Type:', type(c))

a: 10 and Type: <class 'int'>
b: 12.5 and Type: <class 'float'>
c: d and Type: <class 'str'>
-----------STRING-----------
a: 10 and Type: <class 'str'>
b: 12.5 and Type: <class 'str'>
c: 35 and Type: <class 'str'>
-----------INT-----------
a: 10 and Type: <class 'int'>
b: 12 and Type: <class 'int'>
c: 35 and Type: <class 'int'>
-----------FLOAT-----------
a: 10.0 and Type: <class 'float'>
b: 12.5 and Type: <class 'float'>
c: 35.0 and Type: <class 'float'>

# 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [45]:
a = 'I have eaten ' + 99 + ' burritos.'
print(a)

TypeError: can only concatenate str (not "int") to str

In [46]:
b = 'I have eaten ' + '99 '+ ' burritos.'
print(b)

I have eaten 99  burritos.

We cannot concatenate string with integer.