# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

# Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

#Solutions

# Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [36]:
numbers = [12, 75, 150, 180, 145, 525, 50]
maxVal = numbers[0]
for i in numbers:
  #print("Numbers in List: ",numbers[i])
  if i > maxVal:
    maxVal = i
print(f"Largest Number in the List: {maxVal} ")

Largest Number in the List: 525

# Q2. Print all the even number between (1, 12).

In [37]:
for i in range(1, 12):
  if i % 2 == 0:
    print(f"Even Numbers betwen(1-12) are: {i}")

Even Numbers betwen(1-12) are: 2
Even Numbers betwen(1-12) are: 4
Even Numbers betwen(1-12) are: 6
Even Numbers betwen(1-12) are: 8
Even Numbers betwen(1-12) are: 10

# Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [38]:
num = int(input("Enter Number:"))
totalSum = 0

for i in range(1, num + 1):
  totalSum = totalSum + i
print(f"Sum of all Number between 1 and {num} is: {totalSum}")

Enter Number:10
Sum of all Number between 1 and 10 is: 55

# Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

```python
    numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [39]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
  if i > 150:
    if i > 500:
      break
    continue
  if i % 5 == 0:
    print(i)

75
150
145

# Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [41]:
list1 = [10, 20, 30, 40, 50]
reverserdList = list1[::-1]
print("Reversed List: ", reverserdList)

Reversed List:  [50, 40, 30, 20, 10]