# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.


1. What is indentation error? Why indentation is important? Give one simple example?

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

3. Use if else condition to verify that dataype of `input()` method in python is always string.

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.


5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    
6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

### Answer below questions on the above theory - 

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

#<b>Solutions</b>

#1. What is indentation error? Why indentation is important? Give one simple example?

Ans: Python is a procedural language. Indentation is used to segregate code into a single group. Languages like C, C++ and Java uses { } to define block, but python uses spaces for indentation. 

We can use space or tab for indentation. 

Importance of Indentation:
* With indentation, code can be easily read and understood.
* Indetation helps code to execute on the existing rules.

In [1]:
#Example
name = "rahul"
if name == "rahul":
print(f"Hello {user}")
else:
  print("Hello User")

IndentationError: ignored

In [2]:
#Example
name = "rahul"
if name == "rahul":
  print(f"Hello {name}")
else:
  print("Hello User")

Hello rahul

# 2. Correct the following code and write the comment where you made the correction?
```python
class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise") 
```  
HINT: Refer your data type conversion class

##Explanation
* Python considers non-empty string True. 
* Using bool(input()) and input() != ' ' will return in True, even if input is not True. 
* We can directly compare strings, whether input is True or False.

In [35]:
class_started = input("Hey friend, is class started?: [0-False/1-True]")
print(f"Input: {class_started} and its data type: {type(class_started)}")
#Taking input as string and comparing it with value True and False.

if class_started == "True":
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]False
Input: False and its data type: <class 'str'>
Since class is not started...
let's revise

In [103]:
class_started = input("Hey friend, is class started?: [0-False/1-True]")
print(f"Input: {class_started} and its data type: {type(class_started)}")

class_started = bool(class_started)
print(f"Input after conversion: {class_started} and its data type: {type(class_started)}")

if class_started == "True":
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]True
Input: True and its data type: <class 'str'>
Input after conversion: True and its data type: <class 'bool'>
Since class is not started...
let's revise

# 3.Use if else condition to verify that dataype of input() method in python is always string.

By default input function always return string. We can try casting it using 
```python
int(input("Enter:")
float(input("Enter:")
str(input("Enter:")

```

In [107]:
name = int(input("Input: "))
print(f"Input: {name} and data type: {type(name)}")

if type(name) == str:
  print("Input is String.")
else:
  print("Input is not String.")

Input: 1
Input: 1 and data type: <class 'int'>
Input is not String.

In [133]:
name = input("Input: ")
print(f"Input: {name} and data type: {type(name)}")

if type(name) == str:
  print("Input is String.")
else:
  print("Input is not String.")

Input: 1
Input: 1 and data type: <class 'str'>
Input is String.

In [135]:
name = str(input("Input: "))
print(f"Input: {name} and data type: {type(name)}")

if type(name) == str:
  print("Input is String.")
else:
  print("Input is not String.")

Input: rahul
Input: rahul and data type: <class 'str'>
Input is String.

# 4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [94]:
A = 5
B = 10
C = 70
if (A > B) and (A > C):
  print("A is Greater than B and C")
if (B > A) and (B > C):
  print("B is Greater than A and C")
else:
  print("C is Greater than A and B")

C is Greater than A and B

# 5. What would be the solution?
    1. True
    2. False

```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
```

In [95]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

# 6. Find the answer as well as find out the reason behind the result? -

    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

In [96]:
#Case-1
A = 5.0
B = 10/2
print("B: ", B)
print(id(A))
print(id(B))
print(A is B)

B:  5.0
140514287015952
140514287016336
False

* Output is False because A and B doesn't point to same object.

In [97]:
#Case-2
A = 5.0
B = int(10/2)
print("B: ", B)
print(id(A))
print(id(B))

print(A is B)

B:  5
140514287017328
11122720
False

* Output is False because A and B doesn't point to same object.
* Variable A is a float and variable B is converted to int after divison.

In [98]:
#Case-3
A = 5.0
B = float(10/2)
print("B: ", B)
print(id(A))
print(id(B))

print(A is B)

B:  5.0
140514287017872
140514287016336
False

* Output is False because A and B doesn't point to same object.
* Variable A is a float and variable B is converted to int after divison.

# 7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [131]:
A = int(input("Enter value of A: "))

if (A % 3 == 0) or (A % 5 == 0):
  print("That number is divisible by either 3 or 5")
else:
  print("That number is not divisible by either 3 or 5")

Enter value of A: 7
That number is not divisible by either 3 or 5

# 8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [64]:
length = int(input("Enter Length: "))
width = int(input("Enter Width: "))
area_rectangle = length * width

if length == width:
  print("It's Square")
else:
  print("It's Rectangle")
  print(f"Area of Rectangle: {area_rectangle}")

Enter Length: 5
Enter Width: 9
It's Rectangle
Area of Rectangle: 45

# 9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [132]:
radius_1 = float(input("Enter radius for Circle_1: "))
radius_2 = float(input("Enter radius for Circle_2: "))
pie = 3.14
area_circle1 = pie * radius_1 * radius_1
area_circle2 = pie * radius_2 * radius_2

print(f"Area of Circle1: {area_circle1} and Area of Circle2: {area_circle2}")

if area_circle1 > area_circle2:
  print("Circle1 has Larger Area.")
else:
  print("Circle2 has Larger Area.")

if area_circle1 == area_circle2:
  print("Area of both circles are Equal.")

Enter radius for Circle_1: 6
Enter radius for Circle_2: 7
Area of Circle1: 113.03999999999999 and Area of Circle2: 153.86
Circle2 has Larger Area.

#10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [84]:

year = int(input("Enter Year: "))

if year % 4 == 0:
  if year % 100 == 0: #Century Year
    if year % 400 == 0:
      print("Leap Year")
    else:
      print("Not Leap Year")
  else:
    print("Leap Year")
else:
  print("Not Leap Year")

Enter Year: 2020
Leap Year