# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

#Solutions

# 1. Count the number of times iNeuron appears in the string.

```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```

In [10]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

print(f"iNeuron appeared: {text.count('iNeuron')} times.")

iNeuron appeared: 3 times.

# 2.Check if position 5 to 11 ends with the phrase iNeuron. in the string

```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```

In [12]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
print(txt[5:11] == "iNeuron")

False

# 3.Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [13]:

fullName = input("Enter your Full Name:").title()
first_name, middle_name, sur_name = fullName.split(" ") 
print(f"First Name: {first_name}, Middle Name: {middle_name}, Last Name: {sur_name}")
print("--------------------------")
print(f"Abbreviations of Name: {first_name[0]}.{middle_name[0]}.{sur_name}")

Enter your Full Name:rahul kumar sharma
First Name: Rahul, Middle Name: Kumar, Last Name: Sharma
--------------------------
Abbreviations of Name: R.K.Sharma

# 4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```

In [14]:
LIST = ["My", "name", "is", "Rishav", "Dash"]

outPut = "#".join(LIST)
print(outPut)

My#name#is#Rishav#Dash

# 5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```

In [15]:
# isdecimal()
A = "7"
print(f"A isDecimal: {A.isdecimal()}")

A isDecimal: True

In [16]:
# islower()
name = "rahul"
print(name.islower())

True

In [17]:
# isupper()
name = "RAHUL"
print(name.isupper())

True

In [18]:
# isalpha()
name = "Rahul"
print(name.isalpha())

True

In [19]:
# isnumeric()
num = "8325"
print(num.isnumeric())

True

# 6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [35]:
PAN_CARD = input("Enter a pan number: ")

if len(PAN_CARD) == 10 and PAN_CARD[0:5].isalpha() and PAN_CARD[5:9].isdigit() and PAN_CARD[9:].isalpha():
    print(f"{PAN_CARD} Valid PAN Number.")
else:
    print("Invalid PAN Number.")

Enter a pan number: AYEPC7894X
AYEPC7894X Valid PAN Number.

In [36]:
PAN_CARD = input("Enter a pan number: ")

if len(PAN_CARD) == 10 and PAN_CARD[0:5].isalpha() and PAN_CARD[5:9].isdigit() and PAN_CARD[9:].isalpha():
    print(f"{PAN_CARD} Valid PAN Number.")
else:
    print("Invalid PAN Number.")

Enter a pan number: ABCDE9999Y
ABCDE9999Y Valid PAN Number.

In [37]:
PAN_CARD = input("Enter a pan number: ")
#AHJSS508CC
if len(PAN_CARD) == 10 and PAN_CARD[0:5].isalpha() and PAN_CARD[5:9].isdigit() and PAN_CARD[9:].isalpha():
    print(f"{PAN_CARD} Valid PAN Number.")
else:
    print("Invalid PAN Number.")

Enter a pan number: AHJSS508CC
Invalid PAN Number.