# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

#### 3. Write a Python program to find the repeated items of a tuple.

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

# Solutions

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [68]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
print(amazon_website)
userChoice = input("Enter Item to Purchase: ")
totalCost = 0
for item in amazon_website:
  if (item[0] != userChoice):
    print(f"{userChoice}, is Out of Stock")
    break
  elif (item[0] == userChoice):
    totalQuantity = int(input("Enter Quantity:"))
    #print(f"You have purchased {item[0]}")
    totalCost = item[-1] * totalQuantity
    print(f"You have Purchased {userChoice} and its Quantity is {totalQuantity}. Total payable amount: {totalCost}")
    break

[('watch', 5000), ('phone', 10000), ('laptop', 50000), ('shirt', 1000)]
Enter Item to Purchase: watch
Enter Quantity:3
You have Purchased watch and its Quantity is 3. Total payable amount: 15000

In [69]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
print(amazon_website)
userChoice = input("Enter Item to Purchase: ")
totalCost = 0
for item in amazon_website:
  if (item[0] != userChoice):
    print(f"{userChoice}, is Out of Stock")
    break
  elif (item[0] == userChoice):
    totalQuantity = int(input("Enter Quantity:"))
    #print(f"You have purchased {item[0]}")
    totalCost = item[-1] * totalQuantity
    print(f"You have Purchased {userChoice} and its Quantity is {totalQuantity}. Total payable amount: {totalCost}")
    break

[('watch', 5000), ('phone', 10000), ('laptop', 50000), ('shirt', 1000)]
Enter Item to Purchase: Laptop
Laptop, is Out of Stock

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [70]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

# 3. Write a Python program to find the repeated items of a tuple.

In [71]:
tup = (10,12,15,11,10,10,22,1,10,1,1)
print(f"Tuple: ",tup)
num1 = int(input("Enter number you want to search:"))
list1 = list(tup)
#print(f"After Conversion to List:",list1)
for i in range(len(list1)):
  list1[i] = list1[i]
count = list1.count(num1)
print(f"{num1} appeared {count} times.")

Tuple:  (10, 12, 15, 11, 10, 10, 22, 1, 10, 1, 1)
Enter number you want to search:10
10 appeared 4 times.

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [72]:
tup1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print(tup1)
finalTup = []

for t in tup1:
  finalTup.append(t[:-1] + (500,))
print(finalTup)

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]