###Live Assignment No.1
1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

2. Take input A and B and print their sum, mul, div, square of the nos.

3. How many reserve keywords are there in python and why we should not use them as a variable name.

4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

5. Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

7. Convert the following - \
  "22.4" into integer \
  "22" into complex no.

##Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [2]:
print("Hello World")

Hello World

In [3]:
Print("Hello World")

NameError: ignored

Print is case-sensitive and is reserved keyword.

In [4]:
print("Hi my name is "Rahul" ")

SyntaxError: ignored

While printing string, we can use " " or  ' '. 
If it's multiline comment, we can use """ """ and enter text.

In [5]:
ten* = 10

SyntaxError: ignored

* estrik(*) is a special character and variable should not carry any special characters like ^ % $ ! @ # ^ & * ( )

In [6]:
ten%number = 10

SyntaxError: ignored

% is an operator and it cannot be used while creating variable.

In [7]:
10num = 10

SyntaxError: ignored

Numbers can be added in the end of variable name, but it cannot be started with it, it will throw Invalid Syntax Error.

In [43]:
ten number = 10

SyntaxError: ignored

Varibale name cannot have space between them, it will throw Invalid syntax error.

In [8]:
"Day" + 1

TypeError: ignored

String can only be concatenated with string data type. 

Concatenation can take place if both data types are simillar

In [9]:
one = 1
One = 11
print(ONE)

NameError: ignored

one and One are different variables and both are unique. When we print ONE, it throws error 'ONE is' not difined as it is not defined in program.

In [10]:
print = 12 # as a variable
type(print)

int

In [11]:
print("hello")

TypeError: ignored

print is a reserverd keyword and it cannot be used to assign any variable.

In [12]:
del print

In [13]:
print("Hello")

Hello

In [14]:
name = input("Name: ") 
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: rahul
place: mbz
year_of_birth: 1997

TypeError: ignored

If we don't mention the data type, it is going to be take as string. To resolve this error, we can convert the datatype.

In [15]:
name = input("Name: ") 
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: rahul
place: mbz
year_of_birth: 1997

My name is: rahul
I live at: mbz
rahul is of age: 25

In [16]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) 

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.22
Enter value of B: 12.5

ValueError: ignored

Variable accepts only int input, but we have given float as a input, which resulted in error.

In [17]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

We are passing float value as string into float.

In [18]:
# float to integer
A = 50.22 
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [19]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

We are passing empty string, which cannot be done

##Take input A and B and print their sum, mul, div, square of the nos.

In [20]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))
print(f"Sum : {A + B}")
print(f"Multiplication: {A * B}")
print(f"Divison: {A / B}")
print(f"Square of A: {A**2}")
print(f"Square of B: {B**2}")

Enter value of A: 100
Enter value of B: 3
Sum : 103
Multiplication: 300
Divison: 33.333333333333336
Square of A: 10000
Square of B: 9

##How many reserve keywords are there in python and why we should not use them as a variable name.

Reserved keywords in python are : and, del, from, not, while,
as, elif,  global,or, with, assert, else, if, pass, yield,
break, except, import, print, class, exec,  in, raise,  
continue, finally, is,return, def, for, lambda, try

Using reserve keyword as variable can affect the flow or working of function associated with the keyword.

In [21]:
#Example
print = "hello"
type(print)

str

In [22]:
print("hello")

TypeError: ignored

In [23]:
del print

In [24]:
print("Hello")

Hello

##Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [25]:
firstname = input("Enter FirstName: ")
lastname = input("Enter LastName: ")
print(f"{lastname}.{firstname}@gmail.com")

Enter FirstName: rahul
Enter LastName: sharma
sharma.rahul@gmail.com

##Try to print the following lines - Hi I'm Sunny My address is 22\3 I earn 20$ daily.

In [31]:
name, address, earn = "Rahul", 22/3, 20$
print(f"""
Hi I'm {name}
My Address is {address}
I earn {earn} daily
""")

SyntaxError: ignored

* / is a operator and it will print 7.333333333333333 if not converted to string. 
* $ is a special character and it gives error, if not converted to string.

In [33]:
name, address, earn = "Rahul", "22/3", "20$"
print(f"""
Hi I'm {name}
My Address is {address}
I earn {earn} daily
""")

Hi I'm Rahul
My Address is 22/3
I earn 20$ daily

##Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [30]:
name = input("Enter Name: ")
address = input("Enter Address: ")
date_of_birth = int(input("Enter Year of Birth:"))
current_year = 2022
college_id = input("Enter College ID: ")
age = current_year - date_of_birth
print(f"Age of {name} is {age}")
print(f"Email ID: {name}.{address}.{college_id}@mail.com")

Enter Name: rahul
Enter Address: mbz
Enter Year of Birth:1997
Enter College ID: 1234
Age of rahul is 25
Email ID: rahul.mbz.1234@mail.com

##Convert the following -
* "22.4" into integer
* "22" into complex no.

In [38]:
#"22.4" into integer
A = 22.4
print(f"Before conversion {type(A)} and value {A}")
A = int(A)
print(f"After conversion {type(A)} and value {A}")

Before conversion <class 'float'> and value 22.4
After conversion <class 'int'> and value 22

In [41]:
#"22" into complex no.
B = "22"
print(f"Before conversion {type(B)} and value {B}")
B = complex(B)
print(f"Before conversion {type(B)} and value {B}")

Before conversion <class 'str'> and value 22
Before conversion <class 'complex'> and value (22+0j)

In [42]:
#"22" into complex no.
B = 22
print(f"Before conversion {type(B)} and value {B}")
B = complex(B)
print(f"Before conversion {type(B)} and value {B}")

Before conversion <class 'int'> and value 22
Before conversion <class 'complex'> and value (22+0j)